<a href="https://colab.research.google.com/github/mohithxoxo/python/blob/master/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:

imbd = pd.read_csv("/content/drive/My Drive/imbd.csv",encoding= 'unicode_escape',skiprows=[2])

In [0]:
imbd.head()

                                                Plot  ...                     Language
0  Despite his tarnished reputation after the eve...  ...  English
1  Based on the novel written by Stephen Chbosky,...  ...    English
2  Mike Lane is a thirty-year old living in Tampa...  ...    English
3  When Bond's latest assignment goes gravely wro...  ...    English
4  Against medical advice and without the knowled...  ...    English

[5 rows x 9 columns]

In [0]:
imbd.dropna(inplace = True)

In [0]:
imbd.dtypes

Plot          object
Title         object
imdbVotes     object
Poster        object
imdbRating    object
Genre         object
imdbID        object
Year          object
Language      object
dtype: object

In [0]:
imbd["imdbVotes"] = imbd["imdbVotes"].str.replace(",","").astype(int)
imbd["imdbRating"] = imbd["imdbRating"].astype(float)
imbd["Genre"]=imbd["Genre"].astype('category')
imbd["Language"]=imbd["Language"].astype('category')

In [0]:
imbd.dtypes

Plot            object
Title           object
imdbVotes        int64
Poster          object
imdbRating     float64
Genre         category
imdbID          object
Year            object
Language      category
dtype: object

In [0]:
imbd_gen = pd.DataFrame(imbd["Genre"].value_counts())
imbd_gen  = imbd_gen.rename(columns= {'Genre' : 'Count'} )
imbd_gen.index.name = 'Genre'
imbd_gen.head(10)

                        Count
Genre
Drama                     348
Comedy                    194
Comedy, Drama             127
Comedy, Drama, Romance    102
Comedy, Romance            51
Drama, Romance             51
Horror                     47
Drama, Thriller            42
Crime, Drama, Thriller     40
Horror, Thriller           37

In [0]:
imbd_sort = imbd['Genre'].sort_values().to_frame()
imbd_sort.index.name = 'Index'
imbd_sort

                     Genre
Index
298                 Action
2803                Action
1142                Action
1614                Action
2525                Action
...                    ...
2766                 Sport
638                  Sport
1635                 Sport
2947     Thriller, Mystery
3078   War, Drama, Romance

[1831 rows x 1 columns]

In [0]:
imbd_sqr = ( imbd['imdbRating'] - imbd['imdbVotes']  ) ** 2
imbd_sqr.head()

0    6780816.0
1    1437601.0
2    6395841.0
3    3024121.0
4    3097600.0
dtype: float64

In [0]:
imbd['Rt-Vt_Squ_dif'] = imbd_sqr

In [0]:
imbd

                                                   Plot  ... Rt-Vt_Squ_dif
0     Despite his tarnished reputation after the eve...  ...    6780816.00
1     Based on the novel written by Stephen Chbosky,...  ...    1437601.00
2     Mike Lane is a thirty-year old living in Tampa...  ...    6395841.00
3     When Bond's latest assignment goes gravely wro...  ...    3024121.00
4     Against medical advice and without the knowled...  ...    3097600.00
...                                                 ...  ...           ...
3333  Ram (Shaam) and Lakshman a.k.a Lucky (Allu Arj...  ...    6888525.16
3340  In Thailand, Prem is the heir to his family's ...  ...     392752.89
3352  A scrupulously honest cop refuses kidnappers' ...  ...     215946.09
3363  Josef Stalin rises from his rejection as being...  ...     419126.76
3369  Unable to convince the ruling council of Krypt...  ...       2007.04

[1831 rows x 10 columns]